[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/CompoundPractice/lib/forge-std"]
	path = section3/CompoundPractice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section3/CompoundPractice/lib/compound-protocol"]
	path = section3/CompoundPractice/lib/compound-protocol
	url = https://github.com/compound-finance/compound-protocol
